.btn {
  padding: var(--size-sm) var(--size-2xl);
  border-radius: var(--radius-md);
  font-weight: 700;
  font-size: var(--size-base);
  border: none;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--pad-sm);
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2), 0 3px 2px rgba(0, 0, 0, 0.1);

  &:has(.btn-label + .btn-icon) {
    & .btn-label {
      visibility: visible;
      display: inline-block;
    }

    & .btn-icon {
      visibility: hidden;
      display: none;
    }
  }

  &:hover {
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.3), 0 3px 2px rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.2), 03px 2px rgba(0, 0, 0, 0.1);
  }

  &:disabled {
    background: var(--neutral-200);
    color: var(--neutral-400);
    cursor: not-allowed;
  }

  &.btn-primary {
    background: var(--color-secondary);
    color: var(--neutral-100);

    & .btn-icon {
      color: var(--neutral-100);
    }

    &:hover {
      background: var(--color-secondary-light);
    }
  }

  &.btn-secondary {
    background: var(--neutral-200);
    color: var(--neutral-800);

    & .btn-icon {
      color: var(--neutral-800);
    }

    &:hover {
      background: var(--neutral-100);
    }
  }
}

@media screen and (max-width: 768px) {
  .btn {
    padding: var(--size-xs) var(--size-xl);
  }
}

@media screen and (max-width: 520px) {
  .btn {
    padding: var(--size-xs);
  }

  .btn:has(.btn-label + .btn-icon) {
    & .btn-icon {
      visibility: visible;
      display: inline-block;
    }

    & .btn-label {
      visibility: hidden;
      display: none;
    }
  }
}
