.footer {
  color: var(--neutral-100);
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--pad-md) 0;
  justify-content: space-between;
  background: var(--color-primary);

  & .footer-content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 0 var(--pad-md);

    & .footer-section {
      min-width: 15%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--pad-lg);

      & .section-title {
        width: 100%;
      }

      & .section-links {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: var(--pad-md);
        width: 100%;

        & a {
          color: var(--neutral-200);

          &:hover {
            color: var(--neutral-100);
            font-weight: 600;
            padding-left: 5px;
          }
        }
      }
    }
  }

  & .footer-bottom {
    text-align: center;
    padding: var(--pad-md) 0 0;
    border-top: 2px solid var(--neutral-200);
    width: 100%;
  }
}

@media screen and (max-width: 834px) {
  .footer .footer-content {
    flex-direction: column;
    align-items: center;
    gap: var(--pad-xl);

    & .footer-section {
      align-items: center;
      text-align: center;

      & .section-links a:hover {
        padding-left: 0;
      }
    }
  }
}
