.main-container {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-lg);
  background: var(--neutral-100);
  overflow: hidden;
  width: 100%;

  & .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 86svh;
    position: relative;
    width: 100%;

    & .main-section {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }
  }
}
