.main-container {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-lg);
  background: var(--neutral-100);
  position: relative;
  overflow: hidden;

  & .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85svh;
    position: relative;

    & .main-section {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }
  }
}
