.navbar {
  height: 100svh;
  width: 5rem;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--pad-md) var(--pad-xs);
  gap: var(--pad-md);
  background: var(--neutral-100);
  z-index: 100;

  & .nav-hr {
    width: 50%;
    border: none;
    background: var(--neutral-200);
    height: 2px;
    border-radius: 1px;
  }

  & .logo {
    width: 80%;
    height: auto;
  }

  & .pages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--pad-sm);
    width: 100%;

    & .page-container {
      width: 80%;
      position: relative;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1/1;
      border-radius: var(--radius-md);
      border: 2px solid var(--neutral-100);

      &:hover {
        border: 2px solid rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2),
          0 3px 2px rgba(0, 0, 0, 0.1);

        & .page-label {
          display: inline-block;
          visibility: visible;
        }
      }

      &:active {
        transform: translateY(1px);
        box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.2);

        & .page-icon {
          transform: scale(0.9);
        }
      }

      &.active-page {
        background: var(--color-secondary);
        box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);

        & .page-icon {
          color: var(--neutral-100);
        }
      }

      &.hide-page {
        display: none;
        visibility: hidden;
      }

      & .page-icon {
        font-size: var(--size-2xl);
      }

      & .page-label {
        display: none;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 150%;
        background: var(--neutral-100);
        height: 100%;
        padding: var(--size-sm) var(--size-xl);
        border-radius: 0 var(--radius-md) var(--radius-md) 0;
        border-left: 5px solid var(--color-secondary);
        font-weight: 600;
        box-shadow: var(--shadow-sm);
      }
    }

    &#nav {
      flex: 1;
    }

    &#more {
      flex: 1;
    }
  }
}
