  .charts-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--pad-md);

    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr;
    }
  }

  .chart-card {
    border: 2px solid var(--neutral-200);
    border-radius: var(--radius-lg);
    padding: var(--pad-md);
    display: flex;
    flex-direction: column;
    gap: var(--pad-sm);
    height: 300px;
    min-height: 260px;
  }

  .chart-card p {
    font-size: var(--size-lg);
    color: var(--color-primary);
    font-weight: 800;
  }
  .chart-wrapper {
    flex: 1;
    position: relative;
  }
