.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--pad-lg);
  width: 100%;

  & .account-field {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--pad-sm);
  }

  & .account-actions {
      width: 100%;
      display: flex;
      gap: var(--pad-md);

      & .btn {
          flex: 1;
        padding: var(--size-base) var(--size-2xl);
      }
  }

  & .input-container {
    position: relative;
    width: 100%;
    border: 2px solid var(--neutral-200);
    padding: var(--pad-md) var(--pad-lg);
    border-radius: var(--radius-md);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--neutral-100);
    width: 100%;
    overflow: hidden;
    gap: var(--pad-sm);

    &:focus-within {
      border: 2px solid var(--color-secondary);
    }

    & textarea {
      resize: none;
    }

    & input,
    & textarea,
    & select {
      height: 100%;
      flex: 1;
      font-weight: 800;
      font-family: var(--font-sans);
      line-height: 1;
      font-size: var(--size-base);
      color: var(--neutral-800);
      outline: none;
      border: none;

      &::placeholder {
        color: var(--neutral-400);
        font-weight: 400;
      }
    }

    & .hide-password {
      display: inline-block;
      visibility: visible;
    }

    & .show-password {
      display: none;
      visibility: hidden;
      color: var(--color-primary);
    }

    &.password-active {
      & .hide-password {
        display: none !important;
        visibility: hidden !important;
      }

      & .show-password {
        display: inline-block !important;
        visibility: visible !important;
      }
    }
  }

  & .btn {
      width: 100%;
  }
}

@media screen and (max-width: 834px) {
  .form {
    gap: var(--pad-md);

    & .input-container {
      padding: var(--size-sm) var(--pad-md);
    }
  }
}
