.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--pad-md) 0;
  justify-content: space-between;
  background: var(--color-primary);
  gap: var(--pad-lg);

  & .context {
    flex: 1;
    color: var(--neutral-100);
    display: flex;
    align-items: center;

    & .input-container {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      overflow: hidden;

      & select {
        height: 100%;
        flex: 1;
        font-weight: 800;
        font-family: var(--font-sans);
        line-height: 1;
        font-size: 2rem;
        outline: none;
        border: none;
        background: transparent;
        color: var(--neutral-100);
        padding-right: var(--pad-lg);
        white-space: nowrap;
        max-width: 28ch;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  & .actions {
    display: flex;
    gap: var(--pad-md);
    align-items: center;

    &.left {
      align-items: flex-start;
    }

    &.right {
      align-items: flex-end;

      & .subnav {
        display: none;
        visibility: hidden;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .ellipsis { max-width: 18ch; }
}

@media (max-width: 768px) {
  .header .actions {
    gap: var(--pad-sm);

    &.right .subnav {
        display: inline-flex;
        visibility: visible;
    }
  }

  .header-page {
    background: var(--neutral-100);
    border-bottom: 2px solid var(--neutral-200);

    & .context {
      color: var(--neutral-800);

      & .input-container {

        & select {
          color: var(--neutral-800);
        }
      }
    }
  }
}
