.img-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: var(--radius-md);

  & img {
    aspect-ratio: 3/4;
    width: auto;
    height: 100%;
    object-fit: contain;

    &:hover {
      transform: scale(1.05);
    }
  }
}
