  .kpi-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin-bottom: 1.5rem;

    @media screen and (max-width: 900px) {
      grid-template-columns: repeat(2,1fr);
    }
  }

  .kpi-card {
    background: var(--neutral-200);
    border-radius: var(--radius-lg);
    padding: var(--pad-md);
    display: flex;
    flex-direction: column;
    gap: var(--pad-sm);
    border: 2px solid var(--neutral-200);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(0, 0, 0, 0.1);

    & .kpi-label {
      font-size: var(--size-lg);
      color: var(--color-primary);
      font-weight: 800;
    }

    & .kpi-value {
      font-size: var(--size-2xl);
    }

    & .kpi-sub {
      color: var(--neutral-400);
      font-size: var(--size-sm);
    }

    &:hover {
      background: var(--neutral-100);
        box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.3), 0 3px 2px rgba(0, 0, 0, 0.1);
    }

    &:active {
      transform: translateY(2px);
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.2), 0 3px 2px rgba(0, 0, 0, 0.1);
    }
  }