h1.logo {
  color: var(--neutral-100);
  background-clip: text;

  &:hover {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.65));
  }

  &:active {
    transform: scale(0.95);
  }
}

img.logo {
  aspect-ratio: 1/1;
  width: auto;
  height: 15rem;

  &:hover {
    transform: scale(1.05) rotate(5deg);
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.65));
  }

  &:active {
    transform: scale(0.95);
  }
}
