.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;

    & input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked {
            & + .slider {
                background: var(--color-primary);

                &::before {
                    transform: translateX(20px);
                }
            }
        }
    }

    & .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--neutral-200);

        &::before {
            position: absolute;
            content: "";
            height: 17px;
            width: 17px;
            left: 4px;
            bottom: 4px;
            background-color: var(--neutral-100);
            transform: translateX(0);
        }

        &.round {
            border-radius: 25px;
            
            &::before {
                border-radius: 50%;
            }
        }
    }

}