.tab-container {
  width: 100%;
  height: 100svh;
  position: relative;

  & input[type="radio"] {
    display: none;
    visibility: hidden;
  }

  & .tab-bar {
    position: sticky;
    top: 0;
    display: flex;
    width: 100svw;
    gap: var(--pad-md);
    background: var(--neutral-100);
    padding: var(--pad-md);
    border-bottom: 2px solid var(--neutral-200);
    overflow-y: hidden;
    overflow-x: auto;

    & .tab {
      padding: var(--size-sm) var(--size-2xl);
      border-radius: var(--radius-md);
      font-weight: 700;
      font-size: var(--size-base);
      transition: all 0.3s ease;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: var(--pad-sm);
      background: var(--neutral-200);
      color: var(--neutral-800);
      border: 2px solid var(--neutral-100);

      &:hover {
        border: 2px solid rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2),
          0 3px 2px rgba(0, 0, 0, 0.1);
        background: var(--neutral-100);
      }

      &:active {
        transform: translateY(1px);
        box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.2), 03px 2px rgba(0, 0, 0, 0.1);
      }
    }
  }

  & .tab-content {
    display: none;
    padding: var(--pad-md);
  }
}

#tab-1:checked ~ .tab-bar label[for="tab-1"],
#tab-2:checked ~ .tab-bar label[for="tab-2"],
#tab-3:checked ~ .tab-bar label[for="tab-3"],
#tab-4:checked ~ .tab-bar label[for="tab-4"],
#tab-5:checked ~ .tab-bar label[for="tab-5"],
#tab-6:checked ~ .tab-bar label[for="tab-6"] {
  background: var(--color-secondary);
  color: var(--neutral-100);

  &:hover {
    background: var(--color-secondary-light);
  }
}

#tab-1:checked ~ #content-1,
#tab-2:checked ~ #content-2,
#tab-3:checked ~ #content-3,
#tab-4:checked ~ #content-4,
#tab-5:checked ~ #content-5,
#tab-6:checked ~ #content-6 {
  display: block;
}
