.table-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: var(--pad-md);

  & .table-header {
    width: 100%;
    display: flex;
    align-items: center;

    & .table-filter {
      width: 100%;
      display: flex;
      gap: var(--pad-md);
      align-items: flex-end;

      & .field {
        display: flex;
        align-items: center;
        gap: var(--pad-sm);
        padding: var(--pad-xs) var(--pad-sm);
        border-radius: var(--radius-md);
        border: 2px solid var(--neutral-200);
        background: var(--neutral-100);

        & label {
          font-weight: 700;
          font-size: var(--size-sm);
          color: var(--neutral-800);
        }

        & input,
        & select {
          padding: var(--pad-xs) var(--pad-sm);
          color: var(--neutral-800);
          font-family: var(--font-sans);
          font-size: var(--size-sm);
          font-weight: 600;
          background: none;
          border: 2px solid transparent;
          border-radius: var(--radius-md);
          outline: none;
        }

        &:hover {
          background: var(--neutral-200);
        }

        &:focus-within {
          background: var(--neutral-100);
          border-color: var(--neutral-400);
        }
      }
    }
  }

  & .table-content {
    width: 100%;
    overflow: auto;
    border-radius: var(--radius-md);
    border: 2px solid var(--neutral-200);
    background: var(--neutral-100);

    & table {
      width: 100%;
      border-collapse: collapse;
      min-width: 600px;

      & thead {
        background: var(--color-primary);
        color: var(--neutral-100);
      }

      & th,
      & td {
        padding: var(--pad-md);
        text-align: left;
        border-bottom: 1px solid var(--neutral-200);
        white-space: nowrap;

        &.ellipsis {
          max-width: 28ch;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      & td.actions {
        display: flex;
        align-items: center;
        gap: var(--pad-md);
      }

      & tbody {
        & tr {
          background: transparent;

          &:hover {
            background: var(--neutral-200);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  td.ellipsis { max-width: 18ch; }
}

@media screen and (max-width: 768px) {
  .table-container {
    & .table-header {
      & .table-filter {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--pad-sm);

        & * {
          width: 100%;
        }

        & .field {
          & select,
          & input {
            width: auto;
          }
        }
      }
    }
  }
}
