@import "../../global.css";
@import "../../components/header.css";
@import "../../components/main.css";
@import "../../components/page.css";
@import "../../components/tab.css";
@import "../../components/table.css";
@import "../../components/form.css";

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--pad-md);
}