@import "../../global.css";
@import "../../components/header.css";
@import "../../components/footer.css";
@import "../../components/main.css";
@import "../../components/navbar.css";
@import "../../components/page.css";
